<html> 
	<head xmlns:th="http://www.thymeleaf.org">
		
		<title>DETAIL PAGE</title>
	</head>
	
	<body>
		<h2> STUDENT DETAILS</h2>
		<form action="return">
			
    
    <h1>ROLLNUMBER : <i th:text="${roll}"/></h1>
     <h1>NAME : <i th:text="${name}"/></h1>
      <h1>TAMIL MARK: <i th:text="${tamil}"/></h1>
       <h1>ENGLISH MARK: <i th:text="${english}"/></h1>
        <h1>MATHS MARK: <i th:text="${maths}"/></h1>
         <h1>SCIENCE MARK: <i th:text="${science}"/></h1>
          <h1>SOCIAL MARK: <i th:text="${social}"/></h1>
	</body>
	
	
</html>