<html> 
	<head xmlns:th="http://www.thymeleaf.org">
		
		<title>LOGIN PAGE</title>
	</head>
	
	<body>
		<h2>TEACHER LOGIN PAGE</h2>
		<form action="studentDetailPage">
		 <label for="name"><b>USERNAME</b></label>
    <input type="text" placeholder="Enter USERNAME" name="username" required>
   <br>
    <label for="roll"><b>PASSWORD</b></label>
    <input type="password" placeholder="Enter password" name="password" required>
    <br>
    <!--<label for="roll"><b>TEACHER ID</b></label>
    <input type="text" placeholder="Enter  id number" name="id" required>
    <br>-->
   
		 
    <button type="submit">submit</button>
   
   </form>
	</body>
	
	
</html>