<html> 
	<head xmlns:th="http://www.thymeleaf.org">
		
		<title>LOGIN PAGE</title>
	</head>
	
	<body>
		<h2> STUDENT DETAILS</h2>
		<form action="search">
			<label for="roll"><b>ROLL NUMBER</b></label>
    <input type="number" placeholder="Enter roll number" name="rollnumber" required>
    <br>
		 <label for="name"><b>STUDENT NAME</b></label>
    <input type="text" placeholder="Enter student name" name="name" required>
   <br>
    
   <!--
		 <label for="std"><b>CLASS</b></label>
    <input type="number" placeholder="Enter student class" name="std" required>
   <br>-->
    <label for="tamil"><b>TAMIL MARK</b></label>
    <input type="number" placeholder="Enter tamil mark" name="tamil" required>
    <br>
    
		 <label for="english"><b>ENGLISH MARK</b></label>
    <input type="number" placeholder="Enter english mark" name="english" required>
   <br>
    <label for="maths"><b>MATHS MARK</b></label>
    <input type="number" placeholder="Enter maths mark" name="maths" required>
    <br>
    <label for="science"><b>SCIENCE MARK</b></label>
    <input type="number" placeholder="Enter science mark" name="science" required>
    <br>
    <label for="social"><b>social mark</b></label>
    <input type="number" placeholder="Enter social mark" name="social" required>
    <br>
    <button type="submit">submit</button>
    
   </form>
	</body>
	
	
</html>